In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import pandas as pd
df=pd.read_csv('train_mobile.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

In [4]:
df.shape

(2000, 21)

In [5]:
m=df.isna().sum()
m[m>0]

Series([], dtype: int64)

In [6]:
df.duplicated().sum()

0

In [7]:
X=df.drop(columns='price_range')
Y=df[['price_range']]

In [8]:
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [9]:
Y.head()

   price_range
0            1
1            2
2            2
3            2
4            1

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [11]:
num_pipe = Pipeline(steps=([('impute',SimpleImputer(strategy='mean')),
                            ('scalar',StandardScaler())])).set_output(transform='pandas')

In [12]:
X_pre=num_pipe.fit_transform(X)
X_pre.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,-0.902597,-0.990050,0.830779,-1.019184,-0.762495,-1.043966,-1.380644,0.340740,1.349249,-1.101971,-1.305750,-1.408949,-1.146784,0.391703,-0.784983,0.283103,1.462493,-1.786861,-1.006018,0.986097
1,-0.495139,1.010051,-1.253064,0.981177,-0.992890,0.957886,1.155024,0.687548,-0.120059,-0.664768,-0.645989,0.585778,1.704465,0.467317,1.114266,-0.635317,-0.734267,0.559641,0.994018,-1.014099
2,-1.537686,1.010051,-1.253064,0.981177,-0.532099,0.957886,0.493546,1.381165,0.134244,0.209639,-0.645989,1.392684,1.074968,0.441498,-0.310171,-0.864922,-0.368140,0.559641,0.994018,-1.014099
3,-1.419319,1.010051,1.198517,-1.019184,-0.992890,-1.043966,-1.215274,1.034357,-0.261339,0.646842,-0.151168,1.286750,1.236971,0.594569,0.876859,0.512708,-0.002014,0.559641,-1.006018,-1.014099
4,1.325906,1.010051,-0.395011,-1.019184,2.002254,0.957886,0.658915,0.340740,0.021220,-1.101971,0.673534,1.268718,-0.091452,-0.657666,-1.022389,-0.864922,0.730240,0.559641,0.994018,-1.014099

In [13]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest =train_test_split(X_pre,Y,test_size=0.33,random_state=42)

In [14]:
xtrain.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
622,-0.030772,-0.990050,-1.007906,0.981177,-0.992890,0.957886,-1.656260,0.340740,-0.063548,1.084046,-1.470690,-0.964925,-0.348342,0.507890,-0.072765,1.201522,0.730240,0.559641,0.994018,-1.014099
1038,-0.265232,-0.990050,1.566254,-1.019184,-0.992890,-1.043966,-0.223056,0.340740,1.236225,-0.664768,-0.975869,2.102672,1.646607,-0.665965,0.402047,0.971917,-1.466521,-1.786861,0.994018,-1.014099
1378,-0.939018,-0.990050,-1.253064,0.981177,-0.992890,0.957886,1.375517,-0.006069,-0.148315,-1.101971,-1.635631,-0.656137,-1.669822,-1.660930,1.114266,-0.635317,-0.734267,0.559641,-1.006018,0.986097
707,0.802356,1.010051,0.830779,-1.019184,-0.301703,0.957886,0.934531,-0.352878,0.388547,0.646842,-0.481048,1.665410,1.461461,1.455827,1.114266,0.053498,1.645557,0.559641,0.994018,-1.014099
277,0.096701,1.010051,1.566254,0.981177,-0.301703,0.957886,-1.325520,-0.699686,0.105988,-0.227564,1.498235,-0.124209,-0.688548,-0.251934,-1.022389,-0.864922,-0.368140,0.559641,0.994018,-1.014099

In [15]:
ytrain.head()

      price_range
622             2
1038            1
1378            0
707             3
277             1

In [16]:
xtest.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
565,0.073938,1.010051,-1.253064,-1.019184,1.771858,-1.043966,-0.002563,-1.393304,-0.769946,1.084046,0.838474,1.588776,1.614206,-1.548431,0.639453,1.890337,0.547176,-1.786861,-1.006018,0.986097
1223,-1.649225,1.010051,0.095305,-1.019184,0.619880,0.957886,0.273053,-1.393304,0.897154,-1.539175,-0.151168,0.700728,1.091168,1.169048,-0.072765,0.512708,-1.100394,0.559641,0.994018,0.986097
1581,-0.083127,1.010051,1.075937,0.981177,-0.992890,-1.043966,-0.719165,-1.393304,-0.515642,-1.101971,-1.470690,-0.543440,1.135141,-1.410114,1.589078,-1.324131,-1.466521,-1.786861,-1.006018,-1.014099
959,0.752277,-0.990050,-1.253064,0.981177,-0.301703,-1.043966,0.052560,-1.046495,0.190756,-1.539175,0.508594,-0.284238,-0.744091,1.303677,1.351672,-1.094526,0.730240,0.559641,-1.006018,0.986097
1974,-0.736427,1.010051,-1.253064,0.981177,1.080671,0.957886,0.052560,-0.699686,1.660064,-1.101971,1.003414,-0.320301,-0.614489,0.029311,-1.259796,-0.635317,0.364113,0.559641,0.994018,-1.014099

In [17]:
ytest.head()

      price_range
565             0
1223            3
1581            0
959             3
1974            1

In [18]:
xtrain.shape

(1340, 20)

In [19]:
xtest.shape

(660, 20)

In [20]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(xtrain,ytrain)

LogisticRegression()

In [21]:
model.score(xtrain,ytrain)

0.9761194029850746

In [22]:
model.score(xtest,ytest)

0.9666666666666667

In [23]:
ypred_tr=model.predict(xtrain)
ypred_ts=model.predict(xtest)

In [24]:
ypred_tr[0:5]

array([2, 1, 0, 3, 1], dtype=int64)

In [25]:
ytrain.head(5)

      price_range
622             2
1038            1
1378            0
707             3
277             1

In [26]:
ypred_ts[0:5]

array([0, 3, 0, 3, 1], dtype=int64)

In [27]:
ytest[0:5]

      price_range
565             0
1223            3
1581            0
959             3
1974            1